<div class="container mb-5">
    <h1 class="mb-5 mt-5">Entre Em Contato Conosco</h1>
    <form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite Seu Nome">
      </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensagem" rows="3"></textarea>
      </div>
      <button class="btn btn-outline-dark" >Enviar</button>
    </form>
</div>