.social-network {
    list-style: none;
    padding: 0px;
}

.social-network > li{
    display: inline;
    padding: 5px;
    margin: 0px;
    font-size: 25px;
}

.icoLinkedin, .icoFacebook, .icoInstagram{
    color: white;

}

.icoFacebook:hover{
    color: #3b5998;
}

.icoInstagram:hover{
    color: #c13584;
}

.icoLinkedin:hover{
    color: #0072b1;
}