<div class="container">
    <div class="row mt-5 mb-5"></div>
    <div class="col-md-12">
        <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
                Nós somos jornalistas, editores e revisores especialistas na produção de conteúdo. Nós produzimos textos
                envolventes para potencializar o engajamento da sua marca e aumentar as vendas. Fazemos isso porque
                acreditamos que compartilhar boas histórias através do marketing de conteúdo pode fazer sua empresa
                crescer.
            </p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink="/feed">Ver o feed</button>
        </div>
    </div>
</div>