.parallax{
    background-image: url('https://cdn.pixabay.com/photo/2016/02/19/10/00/laptop-1209008_960_720.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}